<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Controller.SCounter</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>Controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complainersHomePage</servlet-name>
        <servlet-class>Controller.complainersHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitorServlet</servlet-name>
        <servlet-class>Controller.visitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsHomePage</servlet-name>
        <servlet-class>Controller.AdminsHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficersHomePage</servlet-name>
        <servlet-class>Controller.OfficersHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complainersHomePage</servlet-name>
        <url-pattern>/complainersHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitorServlet</servlet-name>
        <url-pattern>/visitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsHomePage</servlet-name>
        <url-pattern>/AdminsHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficersHomePage</servlet-name>
        <url-pattern>/OfficersHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>
</web-app>
